html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;

    background-color: black;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1,h5{
    font-size: 3vh;
    text-align: center;
    color: white;
    font-family: Roboto;
    font-weight: 900;
}
h1{
    font-size: 10vh;
}