:root{
    --animation-speed: 0.2s;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    
    background-color: black;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1,h5{
    font-size: 3vh;
    text-align: center;
    color: white;
    font-family: Roboto;
    font-weight: 900;
}
h1{
    font-size: 10vh;
}

table {
    font-size: 1.3vw;
    color: white;
    font-family: Roboto;
    opacity: 1;
    border-collapse: collapse;
    

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    -webkit-transition: all var(--animation-speed) ease-in-out;
    -moz-transition: all var(--animation-speed) ease-in-out;
    -ms-transition: all var(--animation-speed) ease-in-out;
    -o-transition: all var(--animation-speed) ease-in-out;
    transition: all var(--animation-speed) ease-in-out;

}

tbody{
    white-space: nowrap;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
} 


tr { display: block; float: left; } 
th, td { display: block; }



#container{
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
}

#countdown{
    opacity: 1;
    -webkit-transition: all var(--animation-speed) ease-in-out;
    -moz-transition: all var(--animation-speed) ease-in-out;
    -ms-transition: all var(--animation-speed) ease-in-out;
    -o-transition: all var(--animation-speed) ease-in-out;
    transition: all var(--animation-speed) ease-in-out;
}

#countdown.fade{
    opacity: 0;
}
table.fade{
    width: 0;
    height: 0;
    opacity: 0;
}
.none{
    display: none;
}